<div class="container">
    
   

<table class="table table-bordered">
   <h3 class="pt-5 pb-3">Details</h3>
    <tbody>
        <tr>
            
            <td><b>First Name: </b></td>
            <td>{{employee.firstName}}</td>
          
        </tr>
        <tr>
          
        <td><b>Last Name:</b> </td>
        <td>{{employee.lastName}}</td>
           
        </tr>
        <tr>
        
            <td><b>Email:</b> </td>
            <td>{{employee.email}}</td>
        
        </tr>
        <tr>
        
            <td><b>Phone: </b></td>
            <td>{{employee.phone}}</td>
        
        </tr>
        <tr>
        
            <td><b>Pension: </b></td>
            <td>{{employee.pension}}</td>
        
        </tr>
       
    </tbody>
</table>


</div>