
<table class="table  bg-body-tertiary">
    <thead>
        <tr><h5><b>First Name: </b>{{employee.firstName}}</h5></tr>
        <!-- <br/> -->
        <tr>
            <h5><b>Last Name: </b>{{employee.lastName}}</h5>
        </tr>
        <!-- <br /> -->
        <tr>
            <h5><b>Email: </b>{{employee.email}}</h5>
        </tr>
        <!-- <br /> -->
        <tr>
            <h5><b>Phone: </b>{{employee.phone}}</h5>
        </tr>
        <!-- <br /> -->
        <tr>
            <h5><b>Pension: </b>{{employee.pension}}</h5>
        </tr>
    </thead>
</table>